/* last updated: 01/04/2025 14:01 */

h1 {
  color: red !important;
}

h2 {
  color: orange !important;
}

h3 {
  color: gold !important;
}

h4 {
  color: green !important;
}

p {
  color: purple !important;
}
